.page-header
  %h1 新規ユーザ登録
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .clearfix
    = f.label :name, "名前"
    .input
    = f.text_field :name
  .clearfix
    = f.label :email, "E-mailアドレス"
    .input
    = f.email_field :email
  .clearfix
    = f.label :password, "パスワード"
    .input
    = f.password_field :password
  .clearfix
    = f.label :password_confirmation, "もう一度パスワードを入力してください"
    .input
    = f.password_field :password_confirmation
  .actions
    = f.submit "新規ユーザ登録", :class => "btn primary"
= render :partial => "devise/shared/links"
