.page-header
  %h1 ランチメンバー

%table.bordered-table
  %tr
    %th 名前
    %th 通知先
    %th

  - @notice_points.each do |np|
    %tr
      %td
        = np.name
      %td
        = np.email    
      %td
        = link_to "登録内容を変更する", edit_setting_notice_point_path(@setting, np)
        |
        = link_to "メンバーから外す", setting_notice_point_path(@setting, np), :confirm => 'メンバーから外します。よろしいですか？', :method => :delete
%br
= link_to "メンバーの追加", new_setting_notice_point_path
