.page-header
  %h1 ランチメンバー

%table.bordered-table
  %tr
    %th
    %th 名前
    %th 通知先メールアドレス
    %th

  - @users.each do |user|
    %tr
      %td.notice-btn
        = notice_td_content(user)
      %td
        = user.name
      %td
        = user.email
      %td
        = link_to "登録内容を変更する", edit_group_user_path(@group, user)
        |
        = link_to "登録を解除する", group_user_path(@group, user), :confirm => '登録を解除します。よろしいですか？', :method => :delete
= link_to "メンバーの登録", new_group_user_path
