.page-header
  %h1 ランチメンバー

%table.bordered-table.zebra-striped
  %tr
    %th.notice-btn
      = notice_th_content
    %th No.
    %th 名前
    %th 通知先メールアドレス
    %th

  - @users.each_with_index do |user,i|
    %tr
      %td.notice-btn
        = notice_td_content(user)
      %td
        = i + 1
      %td
        = user.name
      %td
        = user.email
      %td
        - if user != current_user
          = link_to "登録内容を変更する", edit_group_user_path(@group, user)
          |
          = link_to "登録を解除する", group_user_path(@group, user), :confirm => '登録を解除します。よろしいですか？', :method => :delete
= link_to "メンバーの登録", new_group_user_path
