%h1 Listing settings

%table
  %tr
    %th Area
    %th Notice at
    %th
    %th
    %th

  - @settings.each do |setting|
    %tr
      %td= setting.area
      %td= setting.notice_at
      %td= link_to 'Show', setting
      %td= link_to 'Edit', edit_setting_path(setting)
      %td= link_to 'Destroy', setting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Setting', new_setting_path
