.page-header
  %h1 ログイン
.nav
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .clearfix
    = f.label :email, "Emailアドレス"
    .input
      = f.email_field :email
  .clearfix
    = f.label :password, "パスワード"
    .input
      = f.password_field :password
  - if devise_mapping.rememberable?
    .clearfix
      = f.label :remember_me, "ログイン情報の保存"
      .input
        = f.check_box :remember_me
  .actions
    = f.submit "ログイン", :class => "btn primary"
= render :partial => "devise/shared/links"
