.page-header
  %h1 ログイン
.alert-message.block-message.info
  = "会社勤めの方がランチに行く時の悩みの種（！？）が、「誰と行くか」と「どこに行くか」。その２つを解決できるのが、「ランチメール」アプリ。昼頃の指定した時間になると、一緒にランチに行くメンバーの名前と、近所のおすすめ店がメンバー全員にメールで通知されます。"

.nav
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .clearfix
    = f.label :email
    .input
      = f.email_field :email
  .clearfix
    = f.label :password
    .input
      = f.password_field :password
  - if devise_mapping.rememberable?
    .clearfix
      = f.label :remember_me
      .input
        = f.check_box :remember_me
  .actions
    = f.submit "ログイン", :class => "btn primary"
= render :partial => "devise/shared/links"
