!!!
%html
  %head
    %title ランチメール
    = stylesheet_link_tag %w(application bootstrap.min)
    = javascript_include_tag :all, :cache => false
    = csrf_meta_tag
  %body
    .topbar{"data-scrollspy" => "scrollspy", "data-dropdown" => "dropdown"}
      .topbar-inner
        .container
          %a.brand{:href => "/"}
            ランチメール
            - if user_signed_in?
              = " - #{current_user.group.name}"
          - unless user_signed_in?
            %ul.nav
              %li
                = link_to "Home", root_path
              %li
                = link_to "特徴", home_feature_path
              %li
                = link_to "使い方", home_case_path
          %ul.nav.secondary-nav
            - if current_user && current_user.group.setting
              %li
                = link_to 'メンバー管理', group_users_path(current_user.group)
              %li.menu
                %a.menu{:href => "#"}= current_user.email
                %ul.menu-dropdown
                  %li= link_to "ユーザ登録情報変更", edit_user_registration_path
                  %li.divider
                  %li= link_to 'ログアウト', destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to 'ログイン', new_user_session_path
              %li
                = link_to 'ランチグループ登録', new_group_path
    .container-fluid
      .content
        = yield
      %footer
        %p
          © Company 2011