!!!
%html
  %head
    %title Lunch Mail
    = stylesheet_link_tag %w(application bootstrap.min)
    = javascript_include_tag :all, :cache => false
    = csrf_meta_tag
  %body
    .topbar{"data-scrollspy" => "scrollspy", "data-dropdown" => "dropdown"}
      .topbar-inner
        .container
          %a.brand{:href => "/"} Lunch Mail
          %ul.nav.secondary-nav
            - if current_user && current_user.setting && @setting
              %li
                = link_to '通知先管理', setting_notice_points_path(@setting)
              %li.menu
                %a.menu{:href => "#"}= current_user.email
                %ul.menu-dropdown
                  %li= link_to "ユーザ登録情報変更", edit_user_registration_path
                  %li.divider
                  %li= link_to 'ログアウト', destroy_user_session_path, :method => :delete
    .container-fluid
      .flash
        - flash.each do |type, message|
          %div{:class => "message #{type}"}
            %p= message
      .content
        = yield
